* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #edf0f1;
	padding: 80px 0;
}

header {
	width: 100%;
	height: 80px;
	position: fixed;
	padding: 15px;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: #25b99a;
	box-shadow: 0 2px 4px rgba(44, 62, 60, 0.15);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

header input {
	width: 100%;
	height: 50px;
	float: left;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 400;
	text-indent: 18px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	box-shadow: none;
	border: 0;
	outline: none;
	appearance: none;
	padding: 0 60px 0 0;
}

header input::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.55);
}

header input::-moz-input-placeholder {
	color: rgba(255, 255, 255, 0.55);
}

header input::-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.55);
}

header button {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 2;
	appearance: none;
	border-radius: 50%;
	background-color: #fff;
	border: 0;
	outline: 0;
	box-shadow: 0;
	cursor: pointer;
	opacity: 1;
	transition: opacity 0.35s ease-in-out;
}

header button:hover {
	opacity: 0.8;
}

header button svg {
	width: 16px;
	height: 16px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -8px 0 0 -8px;
}

header button svg .fill { fill: #25b99a; }

.container {
	width: 100%;
	float: left;
	padding: 15px;
}

ul.todo {
	width: 100%;
	float: left;
}

ul.todo li {
	width: 100%;
	list-style: none;
	font-size: 14px;
    font-weight: 500;
	color: #444;
	line-height: 22px;
	min-height: 50px;
	float: left;
	background-color: #ffF;
	border-radius: 5px;
	box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
	margin: 0 0 10px 0;
    padding: 14px 100px 14px 14px;
    word-break: break-word;
}

ul.todo li:last-of-type {
  margin: 0;
}